<form action ="/artist-search" method="GET" class="home-form">
    <input class="home-input" type="artist search" name="theArtistName">
    <br>
    <button class="home-button" type="submit">Search for an Artist</button>
</form>