body {
    background-image: url('../images/spotify-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home-form {
    background-color: rgba(245, 240, 236, 0.568);
    margin: 15rem 8rem 0rem 15rem;
    padding: 5% 5% 5% 5%;
    text-align: center;
}

.home-input {
    width: 35rem;
    margin-bottom: 1rem;
    height: 1.5rem;
}

.home-button {
    color: white;
    background-color: rgba(248, 62, 62, 0.986);
    padding: 1%;
    border: none;
}

.container {
    background-image: none;
    background-color: grey;
}

img {
    width: 20rem;
    height: 20rem;
}

.row{
    color: white;
}

.artist-button {
    padding: 2%;
    margin-bottom: 15%;
    background-color: tomato;
    color: white;
    border-radius: 1%;
    border: none;
}

.artist-button > a {
    color: white;
}

.tracks-page {
    color: white;
    
}